
.user-table-container {
    overflow-x: auto;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      thead {
        tr {
          th {
            text-align: left;
            padding: 10px;
            background-color: #f9f9f9;
          }
        }
      }
      .status {
        padding: 5px 10px;
        border-radius: 10px;
        color: #fff;

        &.inactive {
            background-color: #6c757d;
        }

        &.pending {
            background-color: #ffc107;
        }

        &.blacklisted {
            background-color: #f4d3d6;
            color: #dc3545;
        }

        &.active {
            background-color: #d2fcdb;
            color: #28a745;
        }
    }
  
      tbody {
        tr {
          td {
            padding: 10px;
            border-top: 1px solid #ddd;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
  
        thead, tbody, tr, td, th {
          display: block;
        }
  
        tr {
          margin-bottom: 15px;
        }
  
        td, th {
          text-align: center;
          padding-left: 50%;
          position: relative;
        }
  
        td:before, th:before {
          content: attr(data-label);
          position: absolute;
          left: 10px;
          text-align: left;
          white-space: nowrap;
        }
      }
    }
  }
  