.side-menu {
  width: 250px;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  box-shadow: -5px 0 30px -5px rgba(0, 0, 0, 0.3);

  
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: #626772;
        font-weight: 500;
        display: block;
        padding: 10px;
        border-radius: 4px;

        &:hover {
          background-color: #e9ecef;
        }

        &.active {
          color: #213F7D ;
        }
      }
    }
  }
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}
