.side-menu {
  width: 200px;
  padding: 20px;
  position: fixed;
  background-color: #fff; 
  height: 100%;
  overflow-y: auto;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  padding-top: 1.5em;
  margin-top: 2em;
  transition: left 0.3s;
  // left: -200px; 
  border-right: 1px solid #e5e5e5;
  z-index: 1000;
  &.open {
    left: 0; 
  }
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: #626772;
        font-weight: 500;
        display: block;
        padding: 10px;
        border-radius: 4px;

        &:hover {
          background-color: #e9ecef;
        }

        &.active {
          color: #213F7D;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .side-menu{
      padding-top: 1.5em;
      margin-top: 2em;
    }
    transform: translateX(-100%);
    &.open {
      transform: translateX(0);
    }
  }
}

.menu-toggle {
  display: none;

  @media (max-width: 768px) {
    left: 0;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.main-content {
  margin-left: 250px;
  padding: 20px;

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 10px;
  }
}
